@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular-webfont.woff);
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Bold-webfont.woff);
    font-weight: bold;
}

:root {
    --size: 86vmin;
    --blue: lightskyblue;
    --pink: pink;
    --color1: var(--blue);
    --color2: var(--pink);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', serif;
    margin: 0px;
}

body:hover {
    cursor: default;
}

#outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
  
#middle {
    display: table-cell;
    vertical-align: middle;
}
  
#inner {
    margin-left: auto;
    margin-right: auto;
}

.header {
    position: relative
}

h1 {
    text-align: center;
    font-size: 24vw;
    margin-top: 0px;
    display: none;
    opacity: 0;
    transition: opacity 2s ease;
}

#designed {
    position: absolute;
    font-size: 3.5vw;
    text-align: center;
    left: calc(50% + 1.3em);
    transform: translate(calc(-50% + 1.3em), 0);
    top: 26.5vw;
    display: none;
    opacity: 0;
    white-space: nowrap;
    transition: opacity 2s ease;
}

h1 span:nth-child(odd) {
    color: var(--color1);
}

h1 span:nth-child(even) {
    color: var(--color2);
}

#designed {
    color: var(--color1);
}

.board {
    width: var(--size);
    margin: auto;
    box-sizing: border-box;
    display: none;
    opacity: 0;
    transition: opacity 2s ease;
}

.dots {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(var(--size) / 16);
}

.dot {
    background-color: silver;
    border-radius: 50%;
    width: calc(var(--size) / 16);
    height: calc(var(--size) / 16);
    transition: background-color 0.5s linear;
}

.dash {
    display: grid;
    position: relative; 
    grid-column: 1;
    grid-row: 1;
    place-items: center;
    background-color: whitesmoke;
    border-radius: calc(var(--size) / 16 / 2);
    width: calc(var(--size) / 16 * 3.5);
    height: calc(var(--size) / 16);
    transition: background-color 0.5s linear;
}

.dash:after {
    content: '';
    position: absolute;
    top: calc(var(--size) / -16);
    bottom: calc(var(--size) / -16);
    left: 0;
    right: 0; 
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(var(--size) / 16 * 3.5);
    margin-top: calc((var(--size) - var(--size) / 16 * 3.5 * 3 - var(--size) / 16 * 4) / 6);
    margin-bottom: calc((var(--size) - var(--size) / 16 * 3.5 * 3 - var(--size) / 16 * 4) / 6);
}

.dash-v {
    position: relative; 
    grid-column: 1;
    grid-row: 1;
    background-color: whitesmoke;
    border-radius: calc(var(--size) / 16 / 2);
    width: calc(var(--size) / 16);
    height: calc(var(--size) / 16 * 3.5);
    transition: background-color 0.5s linear;
} 

.dash-v:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0; 
    left: calc(var(--size) / -16);
    right: calc(var(--size) / -16);
}

.box {
    background-color: white;
    border-radius: 20%;
    width:  calc(var(--size) / 16 * 3.5);
    height:  calc(var(--size) / 16 * 3.5);
    transition: background-color 0.5s 0.5s linear;
    z-index: -1;
}

.reset:hover {
    cursor: pointer;
}

.dash:hover, .dash-v:hover {
    cursor: pointer;
}

.blue {
    background-color: var(--blue);
}

.pink {
    background-color: var(--pink);
}

.choice {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; 
    opacity: 0;
    display: none;
    transition: opacity 1s ease-in-out;
}

img {
    height:  calc(var(--size) / 12 * 3.5);
    position: relative; 
}

img:hover {
    cursor: pointer;
}

.zoom {
    animation: zooming 0.3s 2 linear forwards alternate;
}

@keyframes fill {

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes zooming {

    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.1);
    }
}


@media (orientation: landscape) and (max-height: 460px) {
    .header {
        display: none;
    }

    #info {
        display: none;
    }

    .board {
        margin-top: 20px;
    }
}

@media (min-width: 460px) and (min-height: 460px) {

    :root {
        --size: 400px;
    }

    h1 {
        font-size: 7em;        
    } 

    .choice {
        width: var(--size);
        margin: auto;
        justify-content: space-between;
    }

    #designed {
        font-size: 1em;
        top: 7.7em;
    }  
}
 