@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-regular-webfont.woff);
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-bold-webfont.woff);
    font-weight: bold;
}

:root {

    --blue: lightskyblue;
    --pink: pink;

    /* --blue: deepskyblue;
    --pink: hotpink;

    --blue: skyblue;
    --pink: #ffa6c9; */

    --color1: var(--blue);
    --color2: var(--pink);

    --size: 86vmin;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', serif;
    margin: 0px;
    /* opacity: 0; */
    /* transition: opacity 2s ease; */
}

#outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
  
#middle {
    display: table-cell;
    vertical-align: middle;
}
  
#inner {
    margin-left: auto;
    margin-right: auto;
}

.header {
    position: relative
}

h1 {
    text-align: center;
    font-size: 23.5vw;
    font-size: 24vw;
    margin-top: 0px;
    display: none;
    opacity: 0;
    transition: opacity 2s ease;
    /* margin-bottom: 0; */

}

#designed2 {

    position: fixed;
    /* width:50%; */

    font-size: 3.5vw;

    color: silver;



    margin: auto;
    /* height:300px; */
    /* margin-left:-25%; */
    /* background:#063; */
    bottom: 5px;
    left: 50%;
    transform: translate(calc(-50%), 0);

    display: none;
    transition: opacity 2s ease;
    opacity: 0;


}

#designed {
    position: absolute;
    font-size: 3.5vw;
    text-align: center;
    left: calc(50% + 1.3em);
    transform: translate(calc(-50% + 1.3em), 0);
    top: 26.5vw;
    display: none;
    opacity: 0;
    transition: opacity 2s ease;
    white-space: nowrap;
}

h1 span:nth-child(odd) {
    /* color: var(--blue); */
    color: var(--color1);

}

h1 span:nth-child(even) {
    /* color: var(--pink); */
    color: var(--color2);

}

#designed span {
    color: var(--color1);

}

/* #designed span:nth-child(odd) {
    color: var(--color1);

}

#designed span:nth-child(even) {
    color: var(--color2);

} */

.board {
    /* margin-top: 0; */
    /* background-color: blanchedalmond; */
    /* height: 320px; */
    width: var(--size);
    margin: auto;
    box-sizing: border-box;
    display: none;
    opacity: 0;
    transition: opacity 2s ease;

}

.dots {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 320px; */
    height: calc(var(--size) / 16);
    /* background-color: beige; */
}

.dot {
    background-color: silver;
    /* border: 3px gainsboro solid; */

    border-radius: 50%;
    width: calc(var(--size) / 16);
    height: calc(var(--size) / 16);

    transition: background-color 0.5s linear;

}

/* .container {
    display: grid;
} */

.dash {
    display: grid;
    position: relative; 
    /* position:absolute; */

    grid-column: 1;
    grid-row: 1;

    place-items: center;
    /* background-color: white; */
    /* border: 1px solid black; */
    background-color: whitesmoke;
    /* background-color: white; */
    border-radius: calc(var(--size) / 16 / 2);
    width: calc(var(--size) / 16 * 3.5);
    height: calc(var(--size) / 16);
    transition: background-color 0.5s linear;
    /* transition: opacity 0.5s linear; */

    /* opacity: 0; */
}

.dash:after {
    content: '';
    position: absolute;
    top: calc(var(--size) / -16);
    bottom: calc(var(--size) / -16);
    left: 0;
    right: 0; 

    /* outline: 1px solid pink */
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 320px; */
    height: calc(var(--size) / 16 * 3.5);
    /* background-color: beige; */
    margin-top: calc((var(--size) - var(--size) / 16 * 3.5 * 3 - var(--size) / 16 * 4) / 6);
    margin-bottom: calc((var(--size) - var(--size) / 16 * 3.5 * 3 - var(--size) / 16 * 4) / 6);
    /* transition: background-color 5s linear; */
}

.dash-v {

    position: relative; 

    grid-column: 1;
    grid-row: 1;

    background-color: whitesmoke;

    /* background-color: white; */

    border-radius: calc(var(--size) / 16 / 2);
    width: calc(var(--size) / 16);
    height: calc(var(--size) / 16 * 3.5);
    transition: background-color 0.5s linear;

    /* transition: opacity 0.5s linear; */
    /* opacity: 0; */
} 

.dash-v:after {

    content: '';
    position: absolute;
    top: 0;
    bottom: 0; 
    left: calc(var(--size) / -16);
    right: calc(var(--size) / -16);

    /* outline: 1px solid pink */
}

/* .dash-v:first-child:after {

    content: '';
    position: absolute;
    top: 0;
    bottom: 0; 
    left: calc(var(--size) / -16);
    right: 0; 

    outline: 1px solid pink
}

.dash-v:last-child:after {

    content: '';
    position: absolute;
    top: 0;
    bottom: 0; 
    left: -0;
    right: calc(var(--size) / -16); 

    outline: 1px solid pink
} */

.box {
    background-color: white;
    /* background-color: slategray; */

    /* border: 1px solid black; */
    border-radius: 20%;
    width:  calc(var(--size) / 16 * 3.5);
    height:  calc(var(--size) / 16 * 3.5);
    transition: background-color 0.5s 0.5s linear;
    z-index: -1;

    /* transition: opacity 0.5s linear; */
    /* opacity: 0; */
}

.reset:hover {
    cursor: pointer;
}

.dash:hover, .dash-v:hover {
    cursor: pointer;
}

/* #designed {
    line-height: 100%;
    font-size: 7px;
    font-weight: bold;
    text-align: center;
    color: white;
} */

.blue {
    background-color: var(--blue);
    /* opacity: 1; */
    /* transition: opacity 0.5s linear; */
}

.pink {
    background-color: var(--pink);
    /* opacity: 1; */
    /* transition: background-color 0.5s linear; */
}

/* .blue:hover {
    cursor: default;
}

.pink:hover {
    cursor: default;
} */

.choice {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; 
    opacity: 0;
    display: none;
    transition: opacity 1s ease-in-out;
}

/* .blue-button {
    background-color: var(--blue);
    background-color: white;

    width:  calc(var(--size) / 8 * 3.5);
    height:  calc(var(--size) / 8 * 3.5);
    border-radius: 20%;
    position: relative; 

} */

img {
    height:  calc(var(--size) / 12 * 3.5);
    position: relative; 
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

/* .boy {
    filter: invert(89%) sepia(21%) saturate(5295%) hue-rotate(175deg) brightness(103%) contrast(96%);
}

.girl {
    filter: invert(79%) sepia(6%) saturate(1552%) hue-rotate(303deg) brightness(101%) contrast(107%);
} */

/* .pink-button {
    background-color: var(--pink);
    background-color: white;

    width:  calc(var(--size) / 8 * 3.5);
    height:  calc(var(--size) / 8 * 3.5);
    border-radius: 20%;
    position: relative; 
}*/

/* .blue-button:hover, .pink-button:hover {
    cursor: pointer;
} */

img:hover {
    cursor: pointer;
}

.zoom {
    animation: zooming 0.3s 2 linear forwards alternate;
}

@keyframes fill {

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes zooming {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.1);
    }
}


@media (orientation: landscape) and (max-height: 460px) {
    .header  {
        display: none;
    }

    #info {
        display: none;
    }

    .board {
        margin-top: 20px;
    }
}

@media (min-width: 460px) and (min-height: 460px) {

    :root {
        --size: 400px;
    }

    h1 {
        font-size: 7em;
        /* margin-bottom: -9.2em; */
        /* margin-top: 7em; */


    } 

    .choice {
        width: var(--size);
        margin: auto;
        justify-content: space-between;
    }


    #designed {
        font-size: 1em;
        text-align: center;
        top: 7.7em;
       
       

    }  

    #designed2 {
        font-size: 1em;
    }
}

.noselect {
-webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
        -webkit-user-select: none; 
           -moz-user-select: none; 
            -ms-user-select: none; 
                user-select: none; 
}
 