@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-regular-webfont.woff);
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-bold-webfont.woff);
    font-weight: bold;
}

:root {
    --size: 86vmin;
}

body{
    font-family: 'Roboto', serif;
    margin: 0px;
}

#outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
  
#middle {
    display: table-cell;
    vertical-align: middle;
}
  
#inner {
    margin-left: auto;
    margin-right: auto;
}

h1{
    color: black;
    text-align: center;
    font-size: 23.5vw;
    margin-top: 0px;
}

span:nth-child(odd) {
    color: lightskyblue;
}
span:nth-child(even) {
    color: pink;
}

* {
    box-sizing: border-box;
}

.board{
    /* background-color: blanchedalmond; */
    /* height: 320px; */
    width: var(--size);
    margin: auto;
    box-sizing: border-box;
}

.dots {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 320px; */
    height: calc(var(--size) / 16);
    /* background-color: beige; */
}

.dot {
    /* background-color: pink; */
    border: 3px gainsboro solid;

    border-radius: 50%;
    width: calc(var(--size) / 16);
    height: calc(var(--size) / 16);
}

.dash {
    display: grid;
    position: relative; 
    place-items: center;
    /* background-color: white; */
    /* border: 1px solid black; */
    background-color: gainsboro;
    border-radius: calc(var(--size) / 16 / 2);
    width: calc(var(--size) / 16 * 3.5);
    height: calc(var(--size) / 16);
    transition: background-color 0.5s linear;
}

.dash:after {
    content: '';
    position: absolute;
    top: calc(var(--size) / -16);
    bottom: calc(var(--size) / -16);
    left: 0;
    right: 0; 

    /* outline: 1px solid pink */
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 320px; */
    height: calc(var(--size) / 16 * 3.5);
    /* background-color: beige; */
    margin-top: calc((var(--size) - var(--size) / 16 * 3.5 * 3 - var(--size) / 16 * 4) / 6);
    margin-bottom: calc((var(--size) - var(--size) / 16 * 3.5 * 3 - var(--size) / 16 * 4) / 6);

}

.dash-v {
    /* background-color: white; */
    /* border: 1px solid black; */
    position: relative; 

    background-color: gainsboro;
    border-radius: calc(var(--size) / 16 / 2);
    width: calc(var(--size) / 16);
    height: calc(var(--size) / 16 * 3.5);
    transition: background-color 0.5s linear;
} 

.dash-v:after {

    content: '';
    position: absolute;
    top: 0;
    bottom: 0; 
    left: calc(var(--size) / -16);
    right: calc(var(--size) / -16);

    /* outline: 1px solid pink */
}

/* .dash-v:first-child:after {

    content: '';
    position: absolute;
    top: 0;
    bottom: 0; 
    left: calc(var(--size) / -16);
    right: 0; 

    outline: 1px solid pink
}

.dash-v:last-child:after {

    content: '';
    position: absolute;
    top: 0;
    bottom: 0; 
    left: -0;
    right: calc(var(--size) / -16); 

    outline: 1px solid pink
} */

.box {
    /* background-color: white; */
    background-color: slategray;

    /* border: 1px solid black; */
    border-radius: 20%;
    opacity: 0;
    width:  calc(var(--size) / 16 * 3.5);
    height:  calc(var(--size) / 16 * 3.5);
    transition: opacity 0.5s linear;
    z-index: -1;
}

.dash:hover, .dash-v:hover{
    cursor: pointer;
}

#designed{
    line-height: 100%;
    font-size: 7px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.blue {
    background-color: lightskyblue;
    opacity: 1;

}

.pink {
    background-color: pink;
    opacity: 1;
}


@media (orientation: landscape) and (max-height: 460px){
    h1{
        display: none;
    }
}

@media (min-width: 460px) and (min-height: 460px){

    :root {
        --size: 400px;
    }

    h1{
        font-size: 7em;
    } 

    #designed{
        font-size: 0.5em;
        font-weight: bold;
        text-align: center;
    }  
}

.noselect {
-webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
        -webkit-user-select: none; 
           -moz-user-select: none; 
            -ms-user-select: none; 
                user-select: none; 
}
 